body {
    font-family:cursive;
    border:2px outset #72F08D;
    padding:3px;
    background-image: url('http://img.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg?size=338&ext=jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
    background-color:black;
    color:white;
    font-family:cursive;
    font-weight:bold;
    text-align: center;
    padding:1px;
}
#personalPhoto {
    border:2px solid black;
    float:right;
    position: relative;
    bottom:100px;
    right:350px;
    width:90px;
    height:125px;
    min-width: 40px;
    max-width:90px;
    min-height:60px;
    max-height:125px;
}  
p {
    padding:3px;
}
h4 {
    text-align:left;
    border-bottom:2px solid #72f08d;
    font-weight:bold;
    font-style: italic;
    font-size:17px;
}
a {
    text-decoration: none;
}
a:hover {
    color:#72f08d;
    font-weight:bold;
    font-size:25px;
}
#logo1 {
    position: relative;
    bottom:100px;
    width:250px;
    height:100px;
    max-width:25%;
    max-height:15%;
    float:right;
}
#logo2 {
    position: relative;
    left:20px;
    bottom:75px;
    width: 10%;
    max-width:15%;
    max-height: 15%;
    float:right;
}
#logo3 {
    position: relative;
    right:10px;
    bottom:85px;
    width:10%;
    max-width: 15%;
    max-height: 15%;
    float:right;
}
.job {
    text-indent:5em;
}

